.Block{
  width: 150px;
  height: 150px;
  border: 5px solid black;
  background-size: cover;
  
  display: inline-block;
  margin-top: 15px;
  padding: 10Px;
}
.mark1{
background-image: url("image/circle.png");
}
.mark2{
  background-image: url("image/cross.png");

}
